references/*.dll
references/*.pdb
references/*.exe
obj
bin
*.suo
*.suo
*.swp
AddOns/FastAVN/FastAVN/bin
AddOns/FastAVN/FastAVN/obj
AddOns/AliasAnalysis/AliasAnalysis.v11.suo
AddOns/AngelicVerifierNull/AngelicVerifierNull.psess
AddOns/AngelicVerifierNull/AngelicVerifierNull.sdf
AddOns/AngelicVerifierNull/AngelicVerifierNull.v11.suo
AddOns/AngelicVerifierNull/AngelicVerifierNull/AngelicVerifierNull.csproj.user
AddOns/FastAVN/FastAVN/FastAVN.csproj.user
AddOns/FastAVN/FastAVN/FastAVN.v11.suo
AddOns/AngelicVerifierNull/test/c-smack/*.avn.log
#AddOns/AngelicVerifierNull/test/c-smack/*.inst.bpl
AddOns/AngelicVerifierNull/test/c-smack/*.harness.bpl
AddOns/AngelicVerifierNull/test/c-smack/*.harness_inst.bpl
AddOns/AngelicVerifierNull/test/Angelic*
AddOns/AngelicVerifierNull/test/Blocked*
AddOns/AngelicVerifierNull/test/Output
AddOns/AngelicVerifierNull/test/corralMain.bpl
AddOns/AngelicVerifierNull/test/corraldebug.out
AddOns/AngelicVerifierNull/test/last_query.bpl
AddOns/AngelicVerifierNull/test/runcorral.bpl
AddOns/AngelicVerifierNull/test/temp_rar.bpl
AddOns/AngelicVerifierNull/test/trace_prog.bpl
/AddOns/PropInst/PropInst/PropInst.csproj.user
