<?xml version="1.0" encoding="utf-8" ?>
<RunParConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Root>F:\t-dibuip\sdvbench</Root>
  <Utils>
	  <!--<Util name="Corral-SI" dir="Binaries" exe="RunCorral.exe" arguments="/timeout:100"/> -->
	  <Util name="Corral-MRSS" dir="Binaries" exe="RunCorral.exe" arguments="/timeout:1000 /newStratifiedInlining:split"/> 
  </Utils>
  <RemoteRoots>
    <RemoteFolder value="\\rse-server-13\f$\tmp\t-dibuip\sdvbench"/> 
    <RemoteFolder value="\\rse-server-14\f$\tmp\t-dibuip\sdvbench"/> 
    <RemoteFolder value="\\rse-server-15\f$\tmp\t-dibuip\sdvbench"/>
  </RemoteRoots>
  <Properties>
  </Properties>
  <BoogieFiles>
	  <Files value="data\si_files_houdini\*.bpl"/> 
  </BoogieFiles>

</RunParConfig>

